schema_version = "1.0.0"
id = "TopoFit"
version = "{version_placeholder}"
name = "TopoFit"
tagline = "Landmark-guided geodesic topology fitting and deformation."
maintainer = "Lee Butler"
type = "add-on"
tags = [ "Modeling", "Mesh", "3D View",]
blender_version_min = "5.0.0"
license = [ "SPDX:GPL-3.0-or-later",]
